h1 {
  text-align: center
}
.App form {
  margin-top: 50px;
  text-align: center
}
.App form fieldset{
  width: 60%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}
.App form .field {
  margin: 10px;
}

.App form .field input {
  margin-left: 10px;
  padding: 5px;
  height: 30px;
  width: 30%;
}
.App form .field label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
}
.App form .field textarea {
  height: 200px;
  width: 30%;
}

